/*
    Document   : public/styles/styles．css
    Created on : 2014-06-07 03:28 PM
    Author     : learnNode
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}